* {
  font-family: "Roboto";
  color: #F4F4F4;
  font-weight: 300;
}

body {
  background: #2962ff;
  font-size: 30px;
  margin: 50px 10% 50px 10%;
}

h1 {
  font-family: "Roboto Slab";
}

li {
  margin-bottom: 7px;
}

kbd {
  color: black;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 1.4em;
  text-align: center;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#input-wrapper {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid white;
  white-space: no-wrap;
}

input {
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
}
